@page "/"

@inject SqlDataAccess _db

@if (ObsGroups == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm class="form-group" Model="@newObs" OnValidSubmit="SaveData">
        <div class="form-group">
            @foreach (ObservationViewModel obs in ObsList)
            {
                <ObservationComponent @bind-resp="resp" @bind-resp:event="respChanged" Obs="@obs"></ObservationComponent>
            }
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </EditForm>

    @*<Observation @bind-value="@grp1" GrpId="g1" GrpText="Personal Protective Equipment" Observations="grp1"></Observation>
      <Observation GrpId="g2" GrpText="Tools & Equipment" Observations="grp2"></Observation>*@
}


@code {
    private List<ObservationGroupModel> ObsGroups;
    private List<ObservationModel> obsItems;
    public List<ObservationViewModel> ObsList=new List<ObservationViewModel>();
    private ObservationModel newObs = new ObservationModel();
    private List<ResponseModel> resp = new List<ResponseModel>();
    private List<ResponseModel> data = new List<ResponseModel>();

    [Parameter]
    public EventCallback<List<ResponseModel>> respChanged { get; set; }

    async Task Updateresp()
    {
        await respChanged.InvokeAsync(resp);
    }

    //Load meta_obs
    protected override async Task OnInitializedAsync()
    {
        try
        {
            ObsGroups = await _db.GetObservationGroups("");
            foreach (ObservationGroupModel grp in ObsGroups)
            {
                obsItems = await _db.GetObservations(grp.GrpId.ToString());
                ObservationViewModel ovm = new ObservationViewModel();
                ovm.GrpId = grp.GrpId;
                ovm.GrpText = grp.GrpText;
                ovm.observations = obsItems;
                ObsList.Add(ovm);
            }

        }
        catch (Exception e)
        {
            throw new Exception(e.Message);
        }
    }

    private void SaveData()
    {
        foreach (ResponseModel item in resp)
        {
            Console.WriteLine(item.GrpId +"-"+item.ObsId+"-"+item.Response);
        }
    }


    //    private List<ObservationModel> grp1 = new List<ObservationModel>()
    //{
    //        new ObservationModel {ObsText = "1.1 Hearing Protection"},
    //        new ObservationModel {ObsText = "1.2 Hand Protection" }
    //    };

    //    private List<ObservationModel> grp2 = new List<ObservationModel>()
    //{
    //        new ObservationModel {ObsText = "2.1 Hearing Protection"},
    //        new ObservationModel {ObsText = "2.2 Hand Protection" }
    //    };
}
