@inherits LayoutComponentBase
@inject AppState AppState

<div class="sidebar">

    @if (AppState.IsLoggedIn)
    {
        <NavMenu />
    }

</div>

<div class="main">
    @if (AppState.IsLoggedIn)
    {
        <div class="top-row px-4">
            <a href="/">Logout</a>
        </div>
    }
    <div class="content px-4">
        @Body
    </div>
</div>
